.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8%;
  min-height: 90vh;
  color: #fff;
}

.hero-text {
  max-width: 50%;
}

.hero-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #a855f7;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.btn {
  background: #a855f7;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: #9333ea;
}

.socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.hero-img img {
  border-radius: 1rem;
  border: 2px solid #a855f7;
}
